*{
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
}

html{
    font-size: 22px;
}


/* header */

header{
    width: 100%;
    height: 69px;
    border-bottom: seashell 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    opacity: 1;
}

header a{
    margin: 10px;
}

header img{
    height: 50px;
    margin-left: 10px;
}


/* main */

main{
    position: relative;
    top: 70px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 66px;
}


/* mission */

#mission{
    width: 90%;
    max-height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1 1200px;
    background-image: url("images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mission h2, h4{
    width: 100%;
    padding: .5%;
}


/* featured tea */

#featured_tea{
    width: 75%;
    max-width: 1000px;
    display: flex;
    padding-top: 70px;
    flex-direction: column;
}

.container-head{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.container-head h2{
    margin: 2% 0;
}

.figure-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

figure{
    width: 300px;
    height: 67%;
    overflow: hidden;
    margin: 1%;
}

figure img{
    max-width: 100%;
    height: auto;
    display: block;
}

figcaption{
    margin-top: 3.334%;
}


/* locations */

#locations{
    width: 90%;
    max-height: 500px;
    max-width: 1200px;
    padding-top: 5%;
    margin: 0 auto;
    flex-flow: column;
    justify-content: left;
    align-items: center;
    display: flex;
    flex: 1 1200px;
    background-image: url("images/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.locations-title{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.locations-title h2{
    background-color: transparent;
}

.locations-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    opacity: 1;
    flex-wrap: wrap;
    background-color: transparent;
}

.address{
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 350px;
    border: solid white 1px;
}



/* contact */

#contact{
    height: 200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


/* footer */

footer{
    padding-left: 20px;
    display: flex;
    justify-content: left;
}
